/*
color1: #24344a
color2: #98c1d9
color3: #40a8c4
color4: #89cdff


*/


@font-face {
  font-family: 'irsans';
  src: URL('irsans.ttf') format('truetype');
}

body{
	background-color: #89cdff;
	color:#daefff;
	font-family: 'irsans';
	font-size: 15px;
}


.jumbotron {
  background-color: #24344a; 
}

.yellow {
	color: #fffa41;
}

.pull-right{
	text-align: right;
}


.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.card-body {
	color:#24344a;
}

h5{
	font-size: 2rem;
}


.bg-dark {
	background-color: #293241!important;
}

.nav-link{
	color:#89cdff;
}

.card-footer span{
	color:#24344a;
}

hr {
	border-color:#89cdff;
}